header#header {
  position: sticky;
  padding: 20px 20px 0 24px;
  top: 0;
  z-index: 2;
}
header#header a {
  display: block;
}
header#header a::after {
  display:block;
  position: relative;
  font-size: 0.74rem;
  content: 'Your Logo';
}
