body {
  padding-top: 2px;
  background: #f6f6f6 !important;
}
main {
  padding-bottom: 30vh;
  margin-bottom: 10px;
  position: relative;
}
header {
  position: sticky;
  top: 0;
  z-index: 3;
  background: #f6f6f6;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
}
.bgimg {
  background: linear-gradient(184deg, black, transparent);
}
.bgimg h2{
  text-align: center;
  color: var(--chakra-colors-whiteAlpha-900);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: italic;
}
.page-padding-top{
  padding-top: 2rem;
}

.triangle{
  background: url(../images/hero-burn.jpg) no-repeat center center;
  width: 250px;
  height:250px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(0 0, 0 100%, 100% 45%);
}
