body {
  padding-top: 2px;
  background: #f6f6f6 !important;
}
main {
  padding-bottom: 30vh;
  margin-bottom: 10px;
  position: relative;
}
header {
  position: sticky;
  top: 0;
  z-index: 3;
  background: #f6f6f698;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
}
.bgimg h2 {
  position: relative;
  color: #fff;
  font-size: 2.2rem;
  padding: 15vw;
  text-align: center;
  line-height: 1.2;
  background: linear-gradient(0deg, #0000003d, #0a0300ab 40%, #0000001d);
  font-style: italic;
  font-weight: 500;
  z-index: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: normal;
}
.page-padding-top{
  padding-top: 2rem;
}
